WpfClientCurrency/Connected Services/ServiceReferenceCurrency/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurencyModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurencyModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CurencyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Curency" nillable="true" type="tns:Curency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurencyList" nillable="true" type="tns:CurencyList" />
  <xs:complexType name="Curency">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" type="xs:double" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="Unit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Curency" nillable="true" type="tns:Curency" />
</xs:schema>